body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    background: #FFFFFF;
    box-shadow:
      0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
 }

.accent {
    color: #4D5AE5;
 }

.header-nav {
    display: flex;
    align-items: center;
    margin-left: 76px;
}

.header-menu {
    display: flex;
    gap: 40px;
    list-style: none;
    flex-direction: row;
    list-style: none;
 }

.header-href {
    display: block;
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    list-style: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
 }
.header-href.current {
    color: #404BBF;
}

 .header-href.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.header-href:hover {
    color: #404BBF;
    }
.header-href:active {
    color: #404BBF;
    }

.header-href:focus {
    color: #404BBF;
    }

.address-link {
    display: block;
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .header-address {
    font-style: normal;
    margin-left: auto;
}

 .address {
    display: flex;
    gap: 40px;
    list-style: none;
    flex-direction: row;
} 

.address-link:hover {
    color: #404BBF;
    }

.address-link:active {
    color: #404BBF;
    }

.address-link:focus {
    color: #404BBF;
    }  

.main-section {
    background-color: #2E2F42;
    background-image:
    linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)),
    url("../images/people-office.png");
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.main-section-title {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 48px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.main-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-button:hover {
    background: #404BBF;
    }

.main-button:active {
    background: #404BBF;
    }

.main-button:focus {
    background: #404BBF;
    }

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.section-features {
    padding: 120px 0px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
    box-sizing: border-box;
    text-align: left;
}

.title-features {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42; 
    margin-bottom: 8px;
}

.features-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features-icon {
    display: block;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    padding: 24px 100px;
}
.section-our-team {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.section-title-team {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

.title-our-team {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.title-text-our-team {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-item {
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: var(--white);
}

.team-content {
    padding: 32px 16px;
}

.team-icon {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    width: 232px;
    height: 40px;
    gap: 24px; 
}

.team-icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;  
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #F4F4FD;      
  color: #F4F4FD;         
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404BBF;  
}

.team-icon-link svg {
  fill: currentColor;
}

.section-portfolio {
    padding: 120px 0;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.title-portfolio {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.title-text-portfolio {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-image-wrapper img {
  display: block;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
       }

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
    max-width: 264px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 120px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-text {
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.href-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
 }

 .footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
 }

 .footer-icon-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;  
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #F4F4FD;      
    color: #F4F4FD;         
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31D0AA;;  
}

.footer-icon-link svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: auto;
}

.footer-subscribe-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer-input:focus {
    border-color: #31D0AA;
    outline: none;
}

.footer-input::placeholder {
    color: #FFFFFF;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-icon {
    fill: #FFFFFF;
} 

.footer-button:hover,
.footer-button:focus {
    background-color: #404BBF;
}

.modal-overlay {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    transition: opacity 250ms ease, visibility 250ms ease;
    position: absolute;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #FCFCFC;
    transform: translate(-50%, -50%);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #E7E9FC;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #FFFFFF;
}

.modal-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 12px;
    height: 12px;
}

.modal-close-btn:hover .modal-close-icon
.modal-close-btn:focus .modal-close-icon {
    fill: #FFFFFF;
}

.modal-close-btn:hover {
    background-color: #404BBF;
    border: 1px solid #404BBF;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 0;
    padding: 0;
   }

.form-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    border: none;
    padding: 0;
    margin: 0;
}

.form-field {
    margin-bottom: 8px;
}

.form-contacts-label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.form-contacts-input {
     width: 100%;
     padding: 12px 16px 12px 38px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     outline: transparent;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contacts-input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-contacts-input:focus {
    border-color: #4D5AE5;
}

.form-contacts-input:focus + .form-input-icon {
    fill: #4D5AE5;
}
.form-input-wrapper {
    position: relative;
}

.form-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea.form-contacts-input {
    padding: 12px 16px;
    resize: none;
    height: 120px;
}

.form-contacts-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 72px 16px 24px;
}

.form-contacts-button {
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 169px;
    margin-bottom: 24px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.form-contacts-button:hover {
    background: #404BBF;
    }

.form-contacts-button:active {
    background: #404BBF;
    }

.form-contacts-button:focus {
    background: #404BBF;
    }

.form-field-comment {
    margin-bottom: 16px;
}

.form-contacts-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 12px;
  line-height: 1.33;
  color: #8E8F99;
  margin-bottom: 24px;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  color: #8E8F99;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #8E8F99;
}

.form-checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid #2E2F42;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-icon {
  fill: #FFFFFF;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-input:checked + .form-checkbox-custom {
  background-color: #4D5AE5;
  border: none;
}

.form-checkbox-input:checked + .form-checkbox-custom .form-checkbox-icon {
  opacity: 1;
} 

.form-checkbox-input:focus + .form-checkbox-custom {
  border-color: #4D5AE5;
} 

.privacy-link {
  color: #4D5AE5;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link:hover,
.privacy-link:focus {
  color: #404BBF;
}

.test {
  color: #404BBF;  
}